<!doctype html>
<html>
<head>
	<title>Pink moments</title>
	<link rel="stylesheet" href="./style/style.css">
	<meta charset="utf-8">
</head>
<body>
	<!-- GEN3RAL HEADER -->
	<header>
		<div class="container">
			<div class="logo">
				<img src="./img/header_logo.png" alt="">
			</div>
			<nav>
				<ul>
					<li><a href="">Amigas</a></li>
					<li><a href="">Pink Moments</a></li>
					<li><a href="">Botes</a></li>
					<li><a href="">Regalos</a></li>
				</ul>
			</nav>
			<div class="profile_button_container">
				<a class="profile_button" href="">PERFIL</a>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<section class="main_content">
		<div class="container">

			<!-- CONTENIDO EN DJANGO -->
			<div class="content_menu">
				<div class="nav">
					<ul>
						<li><a href="">Tus amigas</a></li>
						<li><a href="">Peticiones</a></li>
						<li><a href="">Añadir</a></li>
						<li><a href="">Añadir</a></li>
						<li><a href="">Añadir</a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>


			<!-- FINAL DEL CONTENIDO EN DJANGO -->

			<div class="clear"></div>
		</div>
	</section>
	<footer>
		<div class="container">
		
		</div>
	</footer>
</body>
</html>