 {% load less %}
<!doctype html>
<html>
<head>
    <title>Plan de Chicas APP</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
</head>
<body>
    <header id="header" class="">
        <div class="container">
            Header
        </div>
    </header><!-- /header -->
    <section>
        <div class="container">
            <div class="logo">
                Bienvenida a Plan de Chicas
            </div>
            <div class="button">
                Probando
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            Footer
        </div>
    </footer>
</body>
</html>