<!doctype html>
<html>
<head>
	<title>Pink moments</title>
	<link rel="stylesheet" href="./style/style.css">
	<meta charset="utf-8">
</head>
<body>
	<!-- GEN3RAL HEADER -->
	<header>
		<div class="container">
			<div class="logo">
				<img src="./img/header_logo.png" alt="">
			</div>
			<nav>
				<ul>
					<li><a href="">Amigas</a></li>
					<li><a href="">Pink Moments</a></li>
					<li><a href="">Botes</a></li>
					<li><a href="">Regalos</a></li>
				</ul>
			</nav>
			<div class="profile_button_container">
				<a class="profile_button" href="">PERFIL</a>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<section class="main_content">
		<div class="container">

			<!-- CONTENIDO EN DJANGO -->

			<div class="content_menu">
				<div class="nav">
					<ul>
						<li><a href="">Para qué</a></li>
						<li><a href="">Con quién</a></li>
						<li><a class="current" href="">Qué</a></li>
						<li><a href="">Cuentas</a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<div id="pot_what_content">
				<div id="pot_what_table">
					<ul>
						<li class="pot_what_box">
							<div class="box_content outer">
								<div class="inner">
									<a class="inner_img" href=""><img src="https://si0.twimg.com/profile_images/1667588254/twitter-2.jpg" alt=""></a>
									<div class="inner_info">
										<div class="text">
											<p class="name">
												Nombre del producto
											</p>
											<p class="price">
												30€
											</p>
										</div>
										<div class="vote">
											<p>votar</p>
											<div class="image"></div>
										</div>
										<div class="clear"></div>
									</div>
								</div>							
							</div>
						</li>
						<li class="pot_what_box">
							<div class="box_content outer">
								<div class="inner">
									<a class="inner_img" href=""><img src="https://si0.twimg.com/profile_images/1667588254/twitter-2.jpg" alt=""></a>
									<div class="inner_info">
										<div class="text">
											<p class="name">
												Nombre del producto
											</p>
											<p class="price">
												30€
											</p>
										</div>
										<div class="vote">
											<p>votar</p>
											<div class="image"></div>
										</div>
										<div class="clear"></div>
									</div>
								</div>							
							</div>
						</li>
						<li class="pot_what_box">
							<div class="box_content outer">
								<div class="inner">
									<a class="inner_img" href=""><img src="https://si0.twimg.com/profile_images/1667588254/twitter-2.jpg" alt=""></a>
									<div class="inner_info">
										<div class="text">
											<p class="name">
												Nombre del producto
											</p>
											<p class="price">
												30€
											</p>
										</div>
										<div class="vote">
											<p>votar</p>
											<div class="image"></div>
										</div>
										<div class="clear"></div>
									</div>
								</div>							
							</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<div id="pot_resume">
				<div class="pot_resume_wrapper">
					<div class="pot_price">
						<p class="pot_price_label">Total: </p>
						<p class="pot_price_value">294 €</p>
					</div>
					<a class="change_button resume_button" href="">Cambiar</a>
					<a class="account_button resume_button" href="">Cuentas</a>
				</div>
			</div>
			<!-- FINAL DEL CONTENIDO EN DJANGO -->

			<div class="clear"></div>
		</div>
	</section>
	<footer>
		<div class="container">
		
		</div>
	</footer>
</body>
</html>