<!doctype html>
<html>
<head>
	<title>Pink moments</title>
	<link rel="stylesheet" href="./style/style.css">
</head>
<body>
	<!-- GEN3RAL HEADER -->
	<header>
		<div class="container">
			<div class="logo">
				<img src="./img/header_logo.png" alt="">
			</div>
			<nav>
				<ul>
					<li><a href="">Amigas</a></li>
					<li><a href="">Pink Moments</a></li>
					<li><a href="">Botes</a></li>
					<li><a href="">Regalos</a></li>
				</ul>
			</nav>
			<div class="profile_button_container">
				<a class="profile_button" href="">PERFIL</a>
			</div>
		</div>
		<div class="clear"></div>
	</header>
	<section class="main_content">
		<div class="container">

			<!-- CONTENIDO EN DJANGO -->




			<!-- FINAL DEL CONTENIDO EN DJANGO -->


		</div>
	</section>
	<footer>
		<div class="container">
		
		</div>
	</footer>
</body>
</html>